<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold d-flex align-items-center gap-2" href="/">
      <img src="/images/logo.png" alt="Orphan Assist Logo" width="40" height="40" />
      Orphan Assist
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-medium active" aria-current="page" href="/">Home</a>
        </li>

        <% if(user) { %>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="/dashboard/<%=user.id%>">Dashboard</a>
        </li>
        <% } %>

        <li class="nav-item dropdown">
          <a class="nav-link fw-medium dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <% if(user) { %>
      <button class="btn btn-outline-danger ms-2" onclick="location.href='/logout'" type="button">
        Logout
      </button>
      <% } else { %>
      <div class="d-flex gap-2">
        <button class="btn btn-primary" onclick="location.href='/login'" type="button">
          Login
        </button>

        <button class="btn btn-warning" onclick="location.href='/signup'" type="button">
          Register
        </button>
      </div>
      <% } %>
    </div>
  </div>
</nav>