<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a
      class="navbar-brand d-flex align-items-center gap-2 fw-semibold"
      href="#"
    >
      <img
        src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
        alt="Bootstrap"
        width="30"
        height="24"
      />
      Orphan Assist
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-medium active" aria-current="page" href="/"
            >Home</a
          >
        </li>

        <% if(user){%>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="/dashboard/<%=user.id  %>"
            >Dashboard</a
          >
        </li>
        <% } %>

        <li class="nav-item dropdown">
          <a
            class="nav-link fw-medium dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <% if(user) { %>

      <button
        class="btn btn-outline-danger"
        onclick="location.href='/logout'"
        type="button"
      >
        Logout
      </button>
      <% }else{ %>
      <div class="d-flex gap-2">
        <button
          class="btn btn-outline-success"
          onclick="location.href='/login'"
          type="button"
        >
          Login
        </button>

        <button
          class="btn btn-outline-warning"
          onclick="location.href='/signup'"
          type="button"
        >
          Register
        </button>
      </div>
      <% } %>
    </div>
  </div>
</nav>
