<% layout('layouts/boilerplate') -%>
<div class="container d-flex justify-content-center align-items-center">
  <form action="/login" method="POST" class="form-container w-75 login-form">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="name@example.com"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        class="form-control"
        id="password"
        type="password"
        name="password"
        required
      />
    </div>
    <div class="mb-3 dropdown">
      <select class="form-select" aria-label="Login as.." name="role" required>
        <option value="" disabled selected>Login As...</option>
        <option value="user">User</option>
        <option value="organization">Organization</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
